<h1>INFO</h1>
<ul>
    <li><strong>Argumentos de entrada: </strong> {{argEntrada}}</li>       
    <li><strong>Carpeta del proyecto: </strong>{{carpetaProyecto}}</li>
    <li><strong>Process id: </strong>{{processId}}</li>             
    <li><strong>Version de Node.js: </strong>{{versionNode}}</li>           
    <li><strong>Nombre de la plataforma: </strong>{{plataforma}}</li>            
    <li><strong>Path de ejecucion: </strong>{{pathEjecucion}}</li>         
    <li><strong>Memoria total reservada: </strong>{{memoriaUsada}}</li>
    <li><strong>Cantidad de Procesadores:</strong>{{cantidadProcesadores}}</li>              
</ul>